<div class="container">
  <h1>Главная</h1>
  <br/>
  <% @result.each do |details| %>

    <p><%= details.autor %></p>
    <br/>

    <p><%= details.content %></p>
    <br/>

    <p><%= details.timestamps %></p>
    <br/>
    <hr/>

  <% end %>
</div>
